.blog-partage {
  header {
    .blog-title-container {
      h2 {
        font-weight: bold;
      }
    }
    .blog-subtitle {
      margin: 0 auto;
      h3{
        font-family: "Rubik Medium" , sans-serif;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #0A246A;
        text-align: center;
        font-size: 23px;
      }
    }
  }
  .header-article {
    display: flex;
    margin:40px auto 140px;
    justify-content: space-between;
    flex-wrap: wrap;

    .image-article{
      margin: 0 auto;
      img {
        width: 100%;
      }

    }
    .text-article {
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
        h3 {
          font-family: "Roboto Mono" , monospace;
          font-size: 18px;
          color: #0A246A;

        }
        p {
          font-family: "Rubik" , sans-serif;
          color: #666666;
          line-height: 27px;
          font-size: 15px;
          font-weight: 300;
        }
    }
  }
}

.debat {
  background-color: #F3F8FF;
  padding-top: 100px;
  padding-bottom: 100px;

  .section-title {
    padding-bottom: 50px;
    h2{
      color: #212975;
      font-size: 23px ;
      text-transform: uppercase;
      font-family: "Rubik" , sans-serif;
      text-align: center ;
    }
  }
  .card-container {
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
    flex-wrap: wrap;

    .card{
      margin: 0 auto;
      background-color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
      height: 300px;
      position: relative;
      padding-bottom: 20px;
      img {
        position: absolute;
        top: -14%;
        left: 36%;
      }
      .card-title {
        h3 {
          font-family: "Roboto Mono" , monospace;
          color: #0A246A;
          margin-top: 100px;

        }


      }
      .card-text {
        p {

            font-family: "Rubik" , sans-serif;
            font-size: 15px;
            font-weight: 300;
          color: #666666;

        }
      }

    }
  }
}

.action-finance-watch {
  padding-top: 140px;
  .section-title {
    h2 {
      font-family: "Rubik" , sans-serif;
      font-size: 23px;
      font-weight: 500;
      text-align: center;
      color: #0A246A;
    }
  }
  .card-container-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 50px auto;

    .line {
      width: .5px;
      height: 118px;
      border: 1px solid #CCE3FF;
    }
    .member-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-family: "Roboto Mono", monospace;
        font-size: 18px;
        color: #212975;
        text-align: center;
        margin-bottom: 10px;

      }
      p{
        font-family: "Rubik" , sans-serif;
        font-size: 15px;
        line-height: 27px;
        color: #666666;
        font-weight: 300;
        text-align: center;

      }
      a {

        height: 50px;
        width: 200px;
        align-items: center;
        justify-content: center;
        position: relative;
        display: inline-block;
        border: 2px solid #1295D8;
        border-radius: 3px;
        line-height: 46px;
        font-weight: 500;
        font-size: 1.4rem;
        letter-spacing: .1em;
        color: #1295D8;
        white-space: nowrap;
        overflow: hidden;
        z-index: 1;
        padding-left: 40px;
        padding-right: 34px;
        -webkit-transition: color .15s cubic-bezier(0.25,0.46,0.45,0.94);
        transition: color .15s cubic-bezier(0.25,0.46,0.45,0.94);
        margin-top: 10px;
      }
    }

  }
}




@media (max-width: 1020px) {
  .debat .card-container .card img {
    position: absolute;
    top: -14%;
    left: 42%;
  }
  .debat .card-container .card {
    margin: 30px auto;
  }
}