.main-footer {

  width: 100%;
  background-color: #0A246A;
  display: flex;
  justify-content: center;

  padding-top: 50px;
  align-items: center;
  h3 {
    color: #358FFE;
    font-weight: 500;
    font-size: 18px;
    font-family: "Rubik" , sans-serif;

  }
  .upper-footer {
    width: 100%;
    .grid-footer {
      width: 75%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .footer-card {
        background-color: #fff;
        width: 460px;
        border-radius: 10px ;
        .inner-card {
          display: flex;
          .text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            h3 {
              font-family: "Rubik SemiBold";
              font-size: 15px;
              color: #358FFE;
            }
            p {
              font-family: "Rubik Light", sans-serif;
              font-size: 13px;

            }
            a {
              margin: 0;
            }
          }

        }
      }
      .menu-nav {
        display: flex;
        flex-wrap: wrap;
      .menu-footer {
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          div {
            ul {
               li {
                 a {
                   color: white;
                   font-family: "Roboto Mono" , monospace;
                   font-size: 13px;
                 }
               }
            }
          }
        .nav-bar {
          ul {

            li {
              a {
              font-family: "Roboto Mono" , monospace;
              font-size: 13px;
              color: #CCE3FF;

              }
            }
          }
        }
      }

      }

    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  .underline-footer {
    display: flex;

    justify-content: space-between;
    width:75%;
    margin: 50px auto;
    .gdpr-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
        max-width: 800px;
        width: 100%;
      ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
        width: 100%;

        li {
          a {

            font-family: "Roboto Mono" , monospace;
            font-size: 13px;
            color: #E1EEFF;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .footer-card {
    display: none !important;
  }
}