 p {
   color: #666666;
   line-height: 18px;
   letter-spacing: 0.98px;
   font-size: 15px;
   font-family: "Rubik" , sans-serif;

 }
 a {
     font-family: "Rubik" , sans-serif;
     text-decoration: none;
 }
 .medium-txt {
     font-size: 1.5rem;
     color: #666666;
 }

 .title-regular {
     color: #212975;
     font-size: 2rem ;
     text-transform: uppercase; 
     font-family: "Rubik" , sans-serif;

 }
 .subtitle-regular {
     color: #7A7FAC;
     font-size: 17px;
     font-family: 'Roboto Mono', monospace;
 }
 