body {
  background-image: url("./images/bg.png");
}

 p {
   color: #666666;
   line-height: 18px;
   letter-spacing: 0.98px;
   font-size: 15px;
   font-family: "Rubik" , sans-serif;

 }
 a {
     font-family: "Rubik" , sans-serif;
     text-decoration: none;
 }
 .medium-txt {
     font-size: 1.5rem;
     color: #666666;
 }

 .title-regular {
     color: #212975;
     font-size: 2rem ;
     text-transform: uppercase; 
     font-family: "Rubik" , sans-serif;

 }
 .subtitle-regular {
     color: #7A7FAC;
     font-size: 17px;
     font-family: 'Roboto Mono', monospace;
 }


 //Button animations


 $black: #1d1d1d;
 .btn,
 button {
   margin: 0 auto;
   color: white;
   height: 50px;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
    border-radius: 5px;
   color: white;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   padding-left: 20px;
   padding-right: 20px;

   border: 2px solid #358FFE;
   transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);

   cursor: pointer;

   max-width: 200px;

   outline: none;
   vertical-align: middle;
   text-align: center;
   position: relative;
   overflow: hidden;
   @media (min-width: 400px) {
     width: auto;
   }
   @media (min-width: 800px) {
     font-size: 1.1rem;

   }
   &:hover {
     background-color: #358FFE;
     border-color: #358FFE;
      span {
        color: #fff;
        font-family: "Rubik" , sans-serif;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
     }
   }
 }

 .btn-border {
   background-color: transparent;
   color: #358FFE;
 }

 .btn-arrow {
   position: relative;
   transition: background-color 300ms ease-out;
   span {
     display: inline-block;
     position: relative;
     transition: all 300ms ease-out;
     will-change: transform;
     color: #358FFE;
     font-family: "Rubik" , sans-serif;
     font-size: 14px;
     padding-left: 20px;
     padding-right: 20px;
   }
   &:hover span {
     transform: translate3d(-1rem, 0, 0);
     padding-left: 20px;
     padding-right: 20px;
    .arrow {
     display: none;
   }
   }
   svg {
     position: absolute;
     width: 1.1em;

     right: 0rem;
     opacity: 0;
     top: 50%;
     transform: translateY(-50%);
     transition: all 300ms ease-out;
     will-change: right, opacity;
     * {
       stroke-width: 5;
       stroke-color: transparent;
     }
   }
   &:hover svg {
     opacity: 1;
     right: -2rem;
   }
   &:hover .arrow {
     display: none;
   }
 }

