/*------------------BLOG CSS------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@300;500;600&display=swap');

$breakpoint-m: 767px;
$breakpoint-t: 1024px;
$breakpoint-l: 1340px;


.highlights-container {
  background: #F5F9FF;
  padding: 40px;
}

.highlights-title-wrapper {
  margin-bottom: 40px;
}

.highlights-wrapper {
  z-index: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  max-width: 1150px;
  margin: 0 auto;
  @media (max-width: $breakpoint-t) and (min-width: $breakpoint-m) {
    //flex-direction: row;
    //justify-content: space-between;
  }
  @media (min-width: $breakpoint-t + 1) {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*MAIN-HIGHLIGHT*/
.main-highlight {
  height: 400px;
  width: 500px;
  background: rgba(0, 0, 0, 0.1);
}

.main-highlight-wrapper {
  position: relative;
  color: white;
  overflow: hidden;
}

.main-highlight-bg {
  background-image: linear-gradient(to top, rgba(33, 41, 116, 0.52), rgba(33, 41, 116, 0.73));
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.main-highlight-content {
  padding: 20px;
  //background: rgba(33, 41, 116, 0.52);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
}

.main-highlight-top {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 1.4;

  .date {
    color: #9B9FC1;
  }

  .vertical-line {
    height: 100%;
    width: 5px;
    margin-left: 12px;
    margin-right: 16px;
  }

  .tags {
    color: #9EC9FE;
  }
}

.main-highlight-middle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-highlight-middle-excerpt p {
  //color: white;
  //font-size: 29.68px;
  //font-family: Rubik;
}

.main-highlight-featured-image-wrapper {
  overflow: hidden;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.main-highlight-featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 450px;
}

.main-highlight-bottom {
  display: flex;
  flex-direction: row;

  .highlight-comment-count {
    color: #7A7FAC;
  }

  .vertical-line {
    margin-left: 12px;
    margin-right: 16px;
    color: #C2C2C2;
  }

  .by {
    color: #9B9FC1;
    margin-right: 12px;
  }

  .main-highlight-author {
    color: #7A7FAC;
    text-transform: capitalize;
  }
}


/*HIGHLIGHT-SINGLE*/

.secondary-highlights-wrapper {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  @media (min-width: $breakpoint-m) {
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }

  @media (min-width: $breakpoint-t) {
    margin: 0;
    flex-direction: row;
    max-width: 600px;
  }
}

.highlight {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 0px -1px 32px 11px rgba(125, 161, 239, 0.18);
  box-shadow: 0px -1px 32px 11px rgba(198, 204, 224, 0.18);
  @media (min-width: 768px) {
    width: 47%;
  }
}

.highlight-content {
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  padding: 16px;
}

.highlight-top {
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 16px;

  .date {
    color: #9B9FC1;
  }

  .vertical-line {
    height: 100%;
    width: 5px;
    margin-left: 4px;
    margin-right: 8px;
  }

  .tags {
    color: #9EC9FE;
    text-transform: uppercase;
  }
}

.highlight-middle {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Rubik;
  font-size: 21.6px;
  margin-bottom: 32px;
  line-height: 130%;
}

.highlight-middle-excerpt p {
  color: #4D5491;
}

.highlight-featured-image-wrapper {
  max-height: 142px;
  overflow: hidden;
}

.highlight-featured-image {
  width: 100%;
}

.highlight-bottom {
  display: flex;
  flex-direction: row;

  .highlight-comment-count {
    color: #7A7FAC;
  }

  .vertical-line {
    margin-left: 12px;
    margin-right: 16px;
    color: #C2C2C2;
  }

  .by {
    color: #9B9FC1;
    margin-right: 12px;
  }

  .highlight-author {
    color: #7A7FAC;
    text-transform: capitalize;
  }
}

/*LAST-ARTICLES*/

.main-content {
  margin-top: 135px;
}
.pinned-tags-title {
  font-family: "Rubik" , sans-serif;
  font-size: 18px;
  color: #0A246A;
}
.most-used-tags-title {
  font-family: "Rubik" , sans-serif;
  font-size: 18px;
  color: #0A246A;
}

.main-content-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  h2 {
    font-family: "Roboto Mono" , monospace ;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.main-content-columns {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-t + 1) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.lasts-articles-list-wrapper {
}

.lasts-articles-list {
  width: 100%;
}

.homepage-sidebar-wrapper {
}

.homepage-sidebar {
  width: 100%;
  background: gray;
}

.last-article-item {
  position: relative;
  margin-top: 32px;
  @media (min-width: $breakpoint-t) {
    display: flex;
  }
}

.last-article-item-featured-image-wrapper {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  @media (min-width: $breakpoint-t) {
    min-width: 350px;
    max-width: 350px;
    height: 225px;
  }
}

.last-article-item-featured-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.last-article-item-content {
  box-sizing: border-box;
  bottom: 0;
  padding: 0px 0px 0px 30px;
  @media (max-width: 1023px) {
    padding-top: 34px;
  }
  @media (max-width: $breakpoint-l) and (min-width: $breakpoint-t) {
    max-width: 300px;
  }
}

.last-article-item-top {
  font-size: 10px;
  margin-bottom: 16px;

  .last-article-item-top-date {


    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: #666666;
    font-weight: 500;

  }


  .last-article-item-top-vertical-line {
    height: 100%;
    width: 5px;
    margin-left: 4px;
    margin-right: 8px;
  }

  .last-article-item-top-tags {
    color: #9EC9FE;
    text-transform: uppercase;

    span {
      font-family: 'Roboto Mono', monospace;
      font-size: 12px;
      color: #2196F3;
      font-weight: 500;
    }
  }
}

.last-article-item-middle {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Rubik, serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 24px;
  width: 100%;
  @media (min-width: $breakpoint-t) {
    max-width: 350px;
  }
}

.last-article-item-middle-title {
  font-family: 'Rubik' , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #4D5491;

}

.last-article-item-middle-excerpt  {
  a {
    .main-post-header {
       p{
         font-family: "Rubik" , sans-serif;
         font-size: 13px;
         font-weight: 500;
         color: #4D5491;
       }
    }
  }

  color: #4D5491;
}

.last-article-item-bottom {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-family: Roboto;

  .last-article-item-comment-count {
    color: #7A7FAC;
  }

  .vertical-line {
    margin-left: 12px;
    margin-right: 16px;
    color: #C2C2C2;
  }

  .last-article-item-by {
    color: #9B9FC1;
    margin-right: 12px;
  }

  .last-article-item-author {
    color: #7A7FAC;
    text-transform: capitalize;
  }
}

/*MOST-READ-ARTICLE*/

.most-read-articles-list {
  background: #F5F9FF;
  padding: 20px;
}

.most-read-articles-list-title {
  font-family: Roboto;
  margin-bottom: 24px;
}

.most-read-article-item {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-t) {
    flex-direction: row;
  }
}

.most-read-article-item-featured-image-wrapper {
  min-width: 70px;
  height: 70px;
  overflow: hidden;
}

.most-read-article-item-featured-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.most-read-article-item-content {
  margin-left: 16px;
  box-sizing: border-box;
  width: calc(100% - 70px);
}

.most-read-article-item-top {
  font-size: 10px;
  margin-bottom: 8px;

  .date {
    color: #9B9FC1;
  }

  .vertical-line {
    height: 100%;
    width: 5px;
    margin-left: 4px;
    margin-right: 8px;
  }
  .most-read-article-item-top-date {
    font-family:"Roboto Mono" , monospace ;
    font-size: 10px;
    color: #666666;
  }

  .most-read-article-item-top-tags {

    color: #358FFE;
    text-transform: uppercase;
    font-family: "Roboto Mono" , monospace;
    font-size: 10px;
  }


}

.most-read-article-item-bottom {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Rubik, serif;
  font-weight: 100;
  font-size: 13px;
  margin-bottom: 16px;
  line-height: 130%;
}

.most-read-article-item-bottom-excerpt p {
  color: #4D5491;
}

.homepage-sidebar-tags {
  background: #F5F9FF;
  padding: 20px;

  .pinned-tags {
    margin-top: 32px;

    .title {
      margin-bottom: 16px;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .most-used-tags {
    margin-top: 32px;

    .title {
      margin-bottom: 16px;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.sidebar-tag {
  color: #358FFE;
  background: #DDECFF;
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: 4px;
  height: 21px;
  justify-content: center;
  align-items: center;

  font-family: "Roboto mono" , monospace;
}

.bubble-facebook {
  background: #5386C6;
  display: flex;

  .bubble-facebook-image {
    width: 100px;
  }

  .bubble-facebook-text {

    .bubble-facebook-text-title {

    }
  }
}

/*PINNED ARTICLE*/

.pinned-article-container {
  background: #DDECFF;
  margin: 150px auto 0;
}

.pinned-article-wrapper {
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  justify-content: space-between;
}

.pinned-article-item {
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
}

.pinned-article-item-featured-image-wrapper {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  @media (min-width: $breakpoint-t) {
    min-width: 350px;
    max-width: 350px;
    height: 225px;
  }
}

.pinned-article-item-featured-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-height: 200px;
  max-height: 200px;
}

.pinned-article-item-content {
  padding-top: 20px;
  box-sizing: border-box;
  bottom: 0;
  @media (max-width: 1023px) {
    padding-top: 34px;
  }
  @media (max-width: $breakpoint-l) and (min-width: $breakpoint-t) {
    max-width: 300px;
  }
}

.pinned-article-item-top {
  font-size: 10px;
  margin-bottom: 16px;

  .pinned-article-item-top-date {
    color: #9B9FC1;
  }

  .pinned-article-item-top-vertical-line {
    height: 100%;
    width: 5px;
    margin-left: 4px;
    margin-right: 8px;
  }

  .pinned-article-item-top-tags {
    color: #9EC9FE;
    text-transform: uppercase;
  }
}

.pinned-article-item-middle {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Rubik, serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 24px;
  width: 100%;
  @media (min-width: $breakpoint-t) {
    max-width: 350px;
  }
}

.pinned-article-item-middle-title {
  font-family: Rubik;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.pinned-article-item-middle-excerpt p {
  color: #4D5491;
}

.pinned-article-item-bottom {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-family: Roboto;

  .pinned-article-item-comment-count {
    color: #7A7FAC;
  }

  .vertical-line {
    margin-left: 12px;
    margin-right: 16px;
    color: #C2C2C2;
  }

  .pinned-article-item-by {
    color: #9B9FC1;
    margin-right: 12px;
  }

  .pinned-article-item-author {
    color: #7A7FAC;
    text-transform: capitalize;
  }
}

.pinned-article-container .swiper-container {
  max-width: 1150px;
  width: 100%;
  height: 100%;
}
.facebook-action {
  background-color: #358FFE;
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .card-facebook {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .text-container {
      h4 {
        font-family: "Rubik SemiBold" , sans-serif;
        font-size: 23px;
        color: white;

      }
      p {
        font-family: "Rubik Medium" , sans-serif;
        font-size: 18px;
        color: white;
      }
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 50px;
    color: #358FFE;
    font-size: 14px;
    font-family: "Rubik Medium" , sans-serif;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
  }
}

.side-card {
  margin-bottom: 20px;

}


.member-testimonials-container {
  display: flex;
  .swiper-testimonials {
    max-width: 1150px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    img {
      max-width: 450px;
    }

  }
  .members {
    display: flex;
  }
}

.learn-more-wrapper {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Roboto Mono" , monospace;
  font-size: 14px;
  color: #7A7FAC;
  a {
    margin-top: 50px;
  }
}

.pinned-article-item-top-tags {
  span {
    font-family: "Roboto Mono" , monospace;
    font-size: 12px;
    color: #358FFE;
  }
}

.pinned-article-item-top-date {
  font-family: "Roboto Mono" , monospace;
  font-size: 12px;
  color: #666666;
}
.pinned-article-item-middle-title {
  font-family: "Rubik" , sans-serif;
  font-size: 18px;
  color: #4D5491;
  font-weight: 800;
}

.swiper-testimonials {

  img {
    width: 100%;
    max-width: 600px;
  }
.members-testimonial{
  font-family: "Roboto Mono Light" , monospace;
  font-size: 23px;
  font-weight: 100;
  color: #7A7FAC;

  width: 470px;
  line-height: 37px;

}
}
.members-content {
  display: flex;

  justify-content: space-evenly;
  flex-flow: column;
  margin-left: 30px;
  h3 {
    font-family: "Rubik" , sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #0A246A;
    margin-bottom: 15px;
  }
.members-title {
  font-family: "Rubik" , sans-serif;
  font-weight: 800;
  color: #666666;
}
}

.members {
  flex-wrap: wrap;
}

.member-testimonials-container {
  margin-top: 150px;
}

.highlights-title-wrapper {
  h2 {
    font-weight: 800;
    font-size: 23px;
    font-family: "Rubik Medium", sans-serif;
    color: #0A246A;

  }
}

.last-article-item {
  p {
    font-family: "Rubik Light" , sans-serif;
    font-size: 15px;
    color: #7A7FAC;
    line-height: 24px;
  }
}

.main-highlight-middle {
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    div {
      p {
        color: white;
        font-family: "Rubik Black" , sans-serif;
        font-size: 30px;

      }
    }
  }
}

.pinned-article-container-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #0A246A;
  text-transform: uppercase;
  margin-top: 25px;


}

.card-layer {
  position: relative;
  margin: 220px auto;
  .card-homepage {
  box-shadow: 4px -4px 14px rgba(0, 0, 0, 0.25);
    background-color: white;
    height: 265px;
    position:absolute;
    width: 800px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -124px;





  }
}