$breakpoint-m: 767px;
$breakpoint-t: 1024px;
$breakpoint-l: 1340px;





.post-details {
  .main-article {
    .article-header {
    .title-container {
      margin: 0 auto 50px;
      h3 {
        font-family: "Rubik" , sans-serif;
        font-weight: 600;
        color: #212975;
        font-size: 46px;

      }
    }
      .article-details {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid #9AC7FE;
        border-bottom: 1px solid #9AC7FE ;
        .article-info {
          display: flex;
          width: 30%;
          justify-content: space-around;
          flex-wrap: wrap;
          .msg-count {

              font-family: "Roboto Mono" , sans-serif;
              font-size: 12px;
              color: #7A7FAC;

          }
          p {
            font-family: "Roboto Mono" , monospace;
            font-weight: 800;
            color: #0A246A;
            font-size: 12px;
          }
          .article-reply {
            display: flex;
            img {
              margin-left: 10px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .article-body {

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 50px auto;
      .article {
        display: flex;
        flex-direction:column ;
        img{
          margin-bottom: 50px;
          max-width: 612px;


        }

        h2 {
          font-family: "Rubik" , sans-serif;
          font-weight: 500;
          color: #212975;
          text-transform: uppercase;
          padding-top: 50px;
          padding-bottom: 25px;

        }
        h3 {
          font-size: 18px;
          font-family: "Rubik" , sans-serif;
          color: #7A7FAC;
          line-height: 32px;
        }
        h4 {
          font-size: 18px;
          font-family: "Roboto Mono Medium" , monospace;

        }
        p{
          color: #666666;
          line-height: 24px;
          letter-spacing: 0.98px;
          font-size: 15px;
          font-family: "Rubik" , sans-serif;
          font-weight: 300;
          margin-top: 15px;
          margin-bottom: 15px;
          display: inline-block;
          a {
            display: flex;

          }


        }
        ol {
          li {
            color: #666666;
            line-height: 24px;
            letter-spacing: 0.98px;
            font-size: 15px;
            font-family: "Rubik" , sans-serif;
            font-weight: 300;
            margin-top: 15px;
            margin-bottom: 15px;

            padding-left: 15px;
            position: relative;
            &:before {
              content: "";
              display: block;
              background: #1295D8;
              position: absolute;
              left: 0;
              width: 8px;
              height: 2px;
              top: 11px;
            }
          }
        }
        ul {
          li {
            position: relative;
            color: #666666;
            line-height: 24px;
            letter-spacing: 0.98px;
            font-size: 15px;
            font-family: "Rubik" , sans-serif;
            font-weight: 300;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 15px;
            &:before {
              content: "";
              display: block;
              background: #1295D8;
              position: absolute;
              left: 0;
              width: 8px;
              height: 2px;
              top: 11px;
            }
          }
        }
      }
      .side-bar-info {
        div{
          width: 100%;
        }
        .author-container {
          display: flex;
          flex-direction: column;



          border-bottom: 0.5px dashed #9AC7FE ;
          padding-bottom: 40px;
          padding-top: 40px;

          img {

            border-radius: 50%;
          }
          .author-name {
            display: flex;


            width: 100%;
            p{
              font-family: "Rubik" , sans-serif;
              font-size: 15px;
              color: #0A246A;
              font-weight: 500;

            }
          }
          .membre {
            p {
              font-family: "Roboto Mono" , monospace;
              color: #358FFE;
              font-size: 12px;

              font-weight: 600;

            }
          }
        }
        .about-author {
          display: flex;
          flex-direction: column;

          border-top: 0.5px dashed #9AC7FE;
          border-bottom: 1px dashed #9AC7FE ;
          padding-bottom: 40px;
          padding-top: 40px;


          h3 {
            font-family: "Roboto Mono" , monospace;
            padding-top: 25px;
            padding-bottom: 25px;
            color: #7A7FAC;

          }


        }
        .author-photos {

        }
        .navigation-container {
          border-top: 1px dashed #9AC7FE;
          border-bottom: 0.5px dashed #9AC7FE ;
          padding-bottom: 40px;
          padding-top: 40px;
          .tagger {
            margin-top: 30px;
            margin-bottom: 30px;
            .tag-wrapper {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
            }
            .tag-title {
              h4 {
                font-family: "Rubik" , sans-serif;
                font-size: 18px;
                font-weight: bold;
                color: #4D5491;
              }
            }
            span {
              padding: 2px;
              margin: 5px;
              background-color: #EBF4FF;
              color: #358FFE;
              position: relative;
              font-size: 13px;
              font-family: "Rubik" , sans-serif;
            }
          }

        }
        .facebook-action {
          background-color: #358FFE;
          color: white;
          border-radius: 5px;
          padding: 10px;
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .card-facebook {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .text-container {
              h4 {
                font-family: "Rubik SemiBold" , sans-serif;
                font-size: 23px;
                color: white;

              }
              p {
                font-family: "Rubik Medium" , sans-serif;
                font-size: 18px;
                color: white;
              }
              }
            }
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 300px;
                height: 50px;
                color: #358FFE;
                font-size: 14px;
                font-family: "Rubik Medium" , sans-serif;
                background-color: #fff;
                padding-left: 20px;
                padding-right: 20px;
                min-width: 200px;
          }
        }
        p {
          color: #666666;
          line-height: 18px;
          letter-spacing: 0.98px;
          font-size: 15px;
          font-family: "Rubik" , sans-serif;
          font-weight: 300;
        }
      }
    }

    .social-media {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .line {
        width: 20%;

        border: .5px solid #CCE3FF;
      }
      .media-call {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        li {
          a{
            svg {
              width: 40px;
              height: 40px;
            }
          }
        }
      }

    }
    .article-action {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

  }

  .associate-article {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;

    a{
    article {
        header {
          height: 50px;
          font-family: "Roboto Mono" , monospace;
          display: flex;
          justify-content: space-between;
          .date {

          }
          .tag-container {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            flex-wrap: wrap;

            .tag {
            margin-right: 5px;
              position: relative;
              display: block;
              p {
              color: #358FFE;
              font-family: "Roboto Mono" , monospace;
              font-size: 12px;
              font-weight: 500;

              }

            }
          }
        }

        p {
          font-family: "Rubik" , sans-serif;
          font-size: 15px;
          color: #666666;
          font-weight: 300;
        }
      }
      footer {
        display: flex;
        justify-content: space-around;
        .count-msg {
          display: flex;
          align-items: center;
          justify-content: space-around;

          img {
            width: 100%;
          }
        }
      }
        .article-image {
            img {
              width: 100%;
            }
        }
    }

    }
  }



.inner-header-sub {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: $breakpoint-t){
  .post-details {
    .main-article{
      .article-body {
        .article {
          img {
            min-width: 550px;

          }



        }
      .side-bar-info {
        text-align: center;
        .navigation-container {
          .tagger {
            .tag-wrapper {
              justify-content: center;
            }

          }
        }


      }

      }

    }

  }
}


@media (max-width:$breakpoint-m) {
  .post-details {
    .main-article{
      .article-body {
        .article {
          img {
            min-width: 300px;

            max-width: 300px;
          }



        }
        .side-bar-info {
          text-align: center;
          .author-container {
            align-items: center;
            .author-name {
              justify-content: center;
              p {
                margin: 5px;
              }
            }
          }
          .navigation-container {
            .tagger {
              .tag-wrapper {
                justify-content: center;
              }

            }
          }


        }

      }

    }

  }
}


.comment-action {

  .comment-inner-head {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  #comments {
    color: #212975;
  }
  .comment-body {
    border-radius: 5px;
    box-shadow: 4px -4px 14px rgba(0, 0, 0, 0.25);
    padding: 20px;
  }
    #commentform > p.comment-form-comment {
      display: flex;
      flex-direction: column;
    }
  #commentform > p.logged-in-as{
    display: flex;
    justify-content: space-between;
  }

  #comment-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;


    p {
      display: flex;
      color: #666666;
      font-family: "Roboto Mono" , monospace;
    }
    .logged-in-as {
      display: flex;
    }

  }
  ol {
    li {
      list-style: none;
      margin: 5px;
      background-color: #fff;
      &:before {
        display: none !important;
      }
    }
  }
}



.media-list {
  list-style: none;
  padding: 0 !important;
  &:before {
    display: none;
    background: transparent !important;
  }
}


.cls-2 {
  fill: #358ffe !important;

}

textarea {
  color: #666666;
  font-family: "Roboto Mono" , monospace;

}

#submit {
  height: 50px;
  background-color: #358FFE;
  color: white;
  font-family: "Rubik Medium" , sans-serif;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.msg-icon {
  width: inherit !important;
  margin: 0px 5px 0px 0px !important;

}

.comment-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-icon {
  width: 30px !important;
  height: 30px !important;
  max-width:inherit !important;
  min-width: inherit !important;
}

.comment-body > div.comment-author.vcard > img {
  width: 100%;
  max-width: 40px !important;
  min-width: 38px !important;

}

.comment-author {
  display: flex;
  img {
    margin-right: 15px;
  }

}